# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.migrations/
local_settings.py
media/
staticfiles/

# Environment variables
.env
*.env

# macOS
.DS_Store
.AppleDouble
.LSOverride

# PyCharm
.idea/
*.iml

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
*.egg-info/
.installed.cfg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.pytest_cache/
.test/

# MyPy
.mypy_cache/

# Local development files
docker-compose.override.yml

# Jupyter Notebook
.ipynb_checkpoints/

# Editor backups and files
*~
